/.DS_Store
/.ipynb_checkpoints
/.vscode
/1_Basics
/2_Advanced
/3_Project
/4_Problems
/Arka Jain May.ipynb
/Data Structures.png
/Data Types.png
/Day1.ipynb
/Day1.py
/Demo Python Project.ipynb
/Icon
/Jobs_Fact.csv
/Lottery.py
/Matplot.ipynb
/Nikhil Kunal.ipynb
/Online Internship Python Day 1.py
/Online Internship Python.ipynb
/Operators.py
/README.md
/Salary_analysis.ipynb
/Snigdha Day1.py
/Snigdha.ipynb
/Untitled.ipynb
/__pycache__
/electricity
/electricity.c
/electricity.dSYM
/fun.py
/hello.html
/india.csv
/job.ipynb
/libraries.ipynb
/loops.ipynb
/maths_formula.py
/maths_formulas.py
/met data.ipynb
/new.ipynb
/new.py
/numpy.ipynb
/pandas.ipynb
/voting.py